{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
{{ $opts := dict "defines" (dict "process.env.NODE_ENV" `"development"`) }}
{{ $smsbuilder := resources.Get "scripts/smsbuilder.js" | js.Build $opts | fingerprint }}

<main class="sms">
    <div class="container content">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <section>
                    {{ .Content }}
                </section>
                <section id="sms-builder">
                    <sms-builder scenario="{{ .Page.Params.scenario }}"></sms-builder>
                </section>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="{{ $smsbuilder.RelPermalink }}"></script>
{{ end }}