{{ define "title" }}
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
{{ $scenario := resources.Get "scripts/scenarios.js" | resources.ExecuteAsTemplate (printf "%s/js/script.js" .Lang ) . | js.Build | resources.Minify | fingerprint }}
<main class="sms">
    <div class="container content">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <section>
                    {{ .Content }}
                </section>
                <section class="sms-params" id="sms-params">
                    {{/* JS will render questions here */}}
                </section>
                <section class="sms-preview">
                    <h1>Predogled sporocila</h1>
                    <div id="sms-text"></div>
                    <a id="sms-btn" class="button" href="#">Poslji SMS<i class="fa fa-envelope"></i></a>
                </section>
            </div>
        </div>
    </div>
</main>
<script type="text/javascript" src="{{ $scenario.RelPermalink }}"></script>
<script>
    new SmsBuilder({{ .Page.Params.scenario }})
</script>
{{ end }}