// @see: https://versions.bulma.io/0.7.0/documentation/overview/customize/
// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// 2. Set your own initial variables
$spark-green: #1abc9c;
$spark-grey: #dddddd;

// 3. Set the derived variables
$link: $spark-green;

// 4. Setup your Custom Colors

// 5. Add new color variables to the color map.
@import "bulma/sass/utilities/derived-variables";

@import "bulma/bulma.sass";

// additional styles
@import "bulma-checkradio/src/sass";

$fa-font-path: "../webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/solid.scss";

html,
body {
  min-height: calc(100vh - 52px);
  display: flex;
  flex-direction: column;
}

// custom classes
body > footer {
  background-color: $spark-grey;
  margin-top: auto;
  padding-top: 30px;
}

@mixin spark-collapsable($color) {
  position: relative;
  &::first-letter {
    font-size: 2em;
    text-transform: collapsable;
    color: #{$color};
  }
}

details.collapsable {
  margin: 0 0 2px 0;
  padding: 5px auto;

  &[open] {
    summary::after {
      // rotate open icon
      transform: rotate(90deg);
      transition-duration: 0.3s;
    }
  }

  summary {
    display: block; // required, otherwise cannot hide stock markers
    position: relative;
    min-height: 4em;
    line-height: 2em;
    padding: 20px;

    // hide stock open marker
    &::marker,
    &::-webkit-details-marker {
      display: none;
    }
    // custom open marker
    &::after {
      content: "▷";
      position: absolute;
      right: 5px;
      top: calc(50% - 1.2em);
      transition-duration: 0.3s;
      font-size: 1.2em;
    }
  }

  .details-body {
    padding: 1em;
  }
}

.home {
  section {
    &.sparks {
      details {
        summary {
          background-color: lighten($spark-grey, 8%);

          &:hover {
            background-color: $spark-grey;
          }
        }

        .details-body {
          background-color: transparent;
          border: 1px solid $spark-grey;
        }

        &#spark-s > summary {
          @include spark-collapsable(#3b64ad);
        }
        &#spark-p > summary {
          @include spark-collapsable(#a83c55);
        }
        &#spark-a > summary {
          @include spark-collapsable(#953caa);
        }
        &#spark-r > summary {
          @include spark-collapsable(#ad865c);
        }
        &#spark-k > summary {
          @include spark-collapsable(#4b684b);
        }
      }

      .thanks {
        margin-top: 1em;
      }
    }

    &.what-is-spark {
      .column {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        margin: 0 auto;
        max-width: 50%;
      }
    }

    &.disclaimer {
      text-align: center;
    }
  }
}

.sms {
  section {
    margin-bottom: 2em;
  }

  .questionare {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .is-checkradio[type="checkbox"] + label {
        padding-left: 5px;
      }
    }
  }

  .message {
    margin: 0 auto;
    min-width: 80%;
  }
}

.faq {
  details.collapsable {
    summary {
      border-bottom: 1px solid $spark-grey;
      font-weight: 600;
    }

    &[open] {
      border-bottom: 1px solid $spark-grey;
    }
  }
}
