<header>
    <nav class="navbar is-dark is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="http://covid-19.sledilnik.org/" class="right">
                    <img src="/img/logo/LogoSledilnikWhite.png" alt="Sledilnik.org">
                </a>
                <!--<a class="navbar-item" href="index.html">Covid-SPARK</a>-->
                <a class="navbar-item" href="/">
                    <img src="/img/logo/LogoSparkWhite.png" alt="Covid-SPARK">
                </a>
            </div>
            <div class="navbar-menu is-active">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{ relref . " pages/motivation" }}" class="right">Zakaj?</a>
                    <a class="navbar-item" href="{{ relref . " pages/faq" }}" class="right">FAQ</a>
                    <a class="navbar-item" href="{{ relref . " pages/contact" }}" class="right">Kontakt</a>
                    {{ range $.Translations }}
                    <a class="navbar-item" href="{{ .Permalink }}" class="right">{{ .Language.LanguageName }}</a>
                    {{ end }}
                </div>
            </div>
        </div>
    </nav>
</header>