a {
    color: #1abc9c;
}

input {
    color: #1abc9c;
}

td {
  width: 250px;
  text-align: left;
  padding: 0px;
}

th {
  width: 250px;
  text-align: left;
  padding: 4px;
  padding-bottom: 10px;
}

body{
  font-family: sans-serif;  
}

.checkbox {
    position: relative;
    display: block;
}

.checkbox input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}

.checkbox label {
    position: relative;
}

.checkbox label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -6px;
    margin: 4px;
    width: 22px;
    height: 22px;
    transition: transform 0.28s ease;
    border-radius: 5px;
    border: 2px solid #1abc9c;
}
.checkbox label:after {
    content: '';
    display: block;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid #1abc9c;
    border-left: 2px solid #1abc9c;
    -webkit-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    transition: transform ease 0.25s;
    will-change: transform;
    position: absolute;
    top: 6px;
    left: 10px;
}

.checkbox input[type="checkbox"]:checked ~ label::before {
    color: #1abc9c;
}

.checkbox input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox label {
    min-height: 34px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
}
.checkbox label span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar .container {
    display: flex;
    width: 100%;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navbar-menu {
    background-color: transparent;
}

.navbar-menu a {
    color: white;
}

.navbar-end {
    display: flex;
}

.hero {
    background-color: white;
    margin-top: 42px;
	margin-bottom: 12px;
    padding: 30px 15px;
}

.hero .title {
    color: black;
    margin-top: 0;
    margin-bottom: 0;
}

.hero .subtitle {
    color: #bbbbbb;
    margin-top: 0;
    margin-bottom: 10px;
}

.hero .subtitle {
    margin-top: 15px !important;
}

.section-title::before {
    content: "";
    display: block;
    height: 60px;
    margin: -60px 0 0;
}

.title {
    margin-top: 45px;
}

.spark-cases .case .description::before {
    content: "▷";
    position: absolute;
    top: calc(50% - 0.6rem);
    right: 15px;
    font-size: 1.2rem;
    line-height: 1rem;
    transition-duration: 0.1s;
}

.spark-cases .case .description.active::before {
    transform: rotate(90deg);
    transition-duration: 0.1s;
}

.spark-cases .case .description {
    position: relative;
    background-color: #eee;
    cursor: pointer;
    padding: 15px;
    padding-right: 60px;
    margin-bottom: 2px;
    line-height: 1.4rem;
}

.spark-cases .case .description:hover {
    background-color: #ddd;
}

.capitalS::first-letter {
    font-size: 30px;
    color: #3b64ad;
}

.capitalP::first-letter {
    font-size: 30px;
    color: #a83c55;
}

.capitalA::first-letter {
    font-size: 30px;
    color: #953caa;
}

.capitalR::first-letter {
    font-size: 30px;
    color: #ad865c;
}

.capitalK::first-letter {
    font-size: 30px;
    color: #4b684b;
}

.spark-cases .case .description.active {
    margin-bottom: 0;
}

.spark-cases .action {
    display: none;
    padding: 15px;
    border: solid 1px #ddd;
    border-top: 0;
    margin-bottom: 2px;
}

.thanks {
    font-size: 1rem;
	padding-top: 15px;
    margin-bottom: 2px;
}

.instruction {
    font-size: 1rem;
	padding-bottom: 15px;
    margin-bottom: 2px;
}

.about .columns.images .column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about img {
    margin: 0 auto;
    max-width: 50%;
}

.about img.sms {
    max-width: 40%;
}

.motivation ol {
    margin-left: 30px;
}

.motivation li {
    margin-bottom: 1rem;
}

.faq li {
    margin-bottom: 15px;
    border-bottom: solid 1px lightgrey;
}

.faq li:first-child {
    padding-top: 15px;
    border-top: solid 1px lightgrey;
}

.faq .question {
    position: relative;
    font-weight: bold;
    color: black;
    cursor: pointer;
    margin-bottom: 15px;
    padding-right: 60px;
}

.faq .question::before {
    content: "▷";
    color: gray;
    position: absolute;
    top: calc(50% - 0.6rem);
    right: 15px;
    font-size: 1.2rem;
    line-height: 1rem;
    transition-duration: 0.1s;
}

.faq .question.active::before {
    transform: rotate(90deg);
    transition-duration: 0.1s;
}

.faq .answer {
    display: none;
    margin-bottom: 15px;
}

footer {
    background-color: #ddd;
    padding: 60px;
    margin-top: 30px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .hero {
        background-color: white;
        margin-top: 42px;
        padding: 0px 0px;
    }
    .title {
        margin-top: 15px;
        font-size: 2rem !important;
    }
    .navbar .container {
        margin: 0;
    }
    .container {
        margin: 0 15px;
    }
    .spark-cases .case .description {
        padding-right: 45px;
    }
}
